/tmp*
/vendor
/core
/modules/contrib
/modules/.gitkeep
/themes/contrib
/themes/.gitkeep
/profiles/contrib
/profiles/.gitkeep
/sites/*.*
/sites/default/default.*
/sites/default/files
/sites/default/settings.php
/sites/default/services.yml
/sites/example.*
/sites/development.services.yml
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc
/.gitattributes
/.htaccess
/web
/autoload.php
/index.php
/robots.txt
/update.php
/web.config
