language: php
php:
- 5.3
before_install:
- cp scripts/travis-ci.sh $HOME/
- chmod +x $HOME/travis-ci.sh
- cp scripts/ssh-config $HOME/.ssh/config
- $HOME/travis-ci.sh before-install
before_script:
- $HOME/travis-ci.sh before-script
script:
- $HOME/travis-ci.sh script
after_script:
- $HOME/travis-ci.sh after-script
after_success:
- $HOME/travis-ci.sh after-success
before_deploy:
- $HOME/travis-ci.sh before-deploy
after_deploy:
- $HOME/travis-ci.sh after-deploy
cache:
  directories:
  - vendor
notifications:
  email:
    recipients:
    - mike@kalamuna.com
    on_success: always
