/* Kalacustomize Styles */

.battler-title {

}

.battler-nickname {

}


/* Panelizer styles */
.pane-node-field-playbox-nickname .field-name-field-playbox-nickname .field-item {
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
}

.pane-node-field-playbox-nickname .field-name-field-playbox-nickname .field-item::after {
  content: "\"";
}

.pane-node-field-playbox-nickname .field-name-field-playbox-nickname .field-item::before {
  content: "\"";
}

.jumbotron .pane-node-title a {
  color: #ffffff;
}

.jumbotron h4.pane-title {
  opacity: .8;
}

.pane-node-field-playbox-bio .field-name-field-playbox-bio .field-item {
  opacity: .8;
}

.pane-node-field-playbox-nickname {
  position: relative;
  top: -50px;
}
