.logged-in .navbar-fixed-top {
  position: inherit;
}

.logged-in #main-nav {
  background-color: #38A5DB;
}

html.js #features-export-form fieldset.collapsed {
  min-height: 3em;
}

#features-export-wrapper .component-select .form-type-checkbox {
  padding: 0 0 0 20px;
}

div.features-export-list {
  padding: 15px;
  margin-top: 20px;
}

.panel-default > .panel-heading {
  background-color: #dddddd;
}

.panels-root-content-box, .panels-categories-box {
  margin-left: 10px;
}

input#edit-title {
  height: 50px;
  margin-top: 20px;
}

#node-edit #edit-title {
  font-size: 1em;
}

.gridcol {
  padding-bottom: 60px;
}

.space-top {
  margin-top: 50px;
}

.space-bottom {
  margin-bottom: 50px;
}

.jumbotron {
  overflow: visible;
}

.dribbble-button a{
  background:#F06096;
}

.dribbble-button a:hover{
  background:#18bc9c;
}


/* Panelizer and panels styles */
.pane-node-field-playbox-nickname .field-name-field-playbox-nickname .field-item {
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
}

.play-spot-bio {
  margin: auto;
  width: 50%;
  margin-top: 40px;
}

.play-spot-portrait {
  margin: auto;
}

#about .play-spot-portrait .playbox-portrait-featured {
  display: inherit;
}

.pane-node-field-playbox-nickname .field-name-field-playbox-nickname .field-item::after {
  content: "\"";
}

.pane-node-field-playbox-nickname .field-name-field-playbox-nickname .field-item::before {
  content: "\"";
}

.jumbotron .pane-node-title a {
  color: #ffffff;
}

.jumbotron h4.pane-title {
  opacity: .8;
}

.pane-node-field-playbox-bio .field-name-field-playbox-bio .field-item {
  opacity: .8;
}

.pane-node-field-playbox-nickname {
  position: relative;
  top: -50px;
}

.view-playbox-presidents .views-field-field-playbox-nickname,
.view-playbox-robots .views-field-field-playbox-nickname {
  margin-top: 30px;
}

/* Media Queries */

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    display:inline-block;
  }
  .brand {
    display:inline-block;
    vertical-align: middle;
  }
  div#site-nav-center {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .view-playbox-presidents .views-field-field-playbox-portrait,
  .view-playbox-robots .views-field-field-playbox-portrait {
    text-align: center;
  }
}