.logged-in .navbar-fixed-top {
  position: inherit;
}

.logged-in #main-nav {
  background-color: #38A5DB;
}

html.js #features-export-form fieldset.collapsed {
  min-height: 3em;
}

#features-export-wrapper .component-select .form-type-checkbox {
  padding: 0 0 0 20px;
}

div.features-export-list {
  padding: 15px;
  margin-top: 20px;
}

.panel-default > .panel-heading {
  background-color: #dddddd;
}

.panels-root-content-box, .panels-categories-box {
  margin-left: 10px;
}
