.jumbotron .battler-battle .playbox-portrait-featured,
.other-battles .battler-battle .playbox-portrait-featured{
  margin-bottom: 40px;
  border: 15px solid #F06096;
  display: inline;
  height: auto;
  max-width: 100%;
  border-radius: 50%;
  text-align: center;
  background-color: #F06096;
  opacity: .8;
}

.jumbotron .battler-battle  img.playbox-portrait-featured,
.other-battles .battler-battle  img.playbox-portrait-featured{
  box-shadow: none;
}

.battler-battle .battler-box {
  position: relative;
  width: 100%; /* for IE 6 */
}

.battler-box .battler-vote-robot, .battler-box .battler-vote-president {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 200px;
  font-weight: 800;
  opacity: .8;
}

.battler-box a {
  color: #ffffff;
}

.battler-box a:hover {
  color: #18bc9c;
}

.battler-box .ajax-progress-throbber {
  display: none;
}

.battler-battle .battler-battle-name h2 {
  text-transform: uppercase;
  font-size: 96px;
  font-weight: 600;
}

@media (max-width: 767px){
  .battler-battle .battler-battle-name h2{
    font-size: 32px;
  }
}

.battler-battle .battler-battle-bio {
  opacity: .9;
  font-size: 1.337em;
}

.battler-battle .battler-vs {
  margin-top: 20px;
}

.battler-battle .battler-vs-label {
  font-size: 128px;
  font-weight: 500;
}

.battler-battle .battler-nickname {
  color: #ffffff;
}

/*
 * Other Battles overrides
 */

#services .pane-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 2em;
}

.other-battles .battler-battle .playbox-portrait-featured {
  border-color: #1D2026;
  background-color: #1D2026;
}

.other-battles .battler-battle .battler-nickname {
  color: initial;
}

.other-battles .battler-battle .playbox-portrait-featured {
  border-width: 10px;
}

.other-battles .battler-battle .battler-battle-name h2 {
  font-size: 2em;
}

.other-battles .battler-battle .battler-battle-bio {
  font-size: 1em;
}

.other-battles .battler-battle .battler-vs-label {
  font-size: 2.666em;
  margin-top: .75em;
}

.other-battles .battler-box .battler-vote-robot,
.other-battles .battler-box .battler-vote-president {
  font-size: 5em;
  padding-top: .3em;
}

.other-battles .battler-battle .battler-nickname {
  font-size: 1em;
}

.other-battles .gridcol {
  padding-bottom: 0;
}

.other-battles .battler-box {
  width: 180px;
  margin: auto;
}
